<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.productMapper">

	<resultMap type="productVO" id="productResult">
		<result property="proid" column="proid"/>
		<result property="title" column="title"/>
		<result property="ctgid" column="ctgid"/>
		<result property="like" column="like"/>
		<result property="views" column="views"/>
		<result property="datepost" column="datepost"/>
		<result property="content" column="content"/>
		<result property="image" column="image"/>
		<result property="userid" column="userid"/>
		<result property="stateid" column="stateid"/>
		<result property="reason" column="reason"/>
		<result property="dislikes" column="dislikes"/>
	</resultMap>
	
	
	<!-- sql statement -->
	<select id="selectAll" resultMap="productResult">
		<![CDATA[
			select * from product order by proid
		]]>
	</select>
	
	<select id="selectExciting" resultMap="productResult">
		<![CDATA[
			SELECT * FROM product ORDER BY views DESC LIMIT 10
		]]>
	</select>
	
	<select id="selectOne" resultMap="productResult" parameterType="int">
		<![CDATA[
			select * from product where proid = #{id}
		]]>
	</select>
	
	<select id="search" resultMap="productResult" parameterType="String">
		<![CDATA[
			SELECT * FROM product WHERE title LIKE '%' #{key} '%' order by proid
		]]>
	</select>
	
	<select id="selectCount" resultMap="productResult" parameterType="String">
		<![CDATA[
			SELECT * FROM product WHERE title LIKE '%' #{key} '%'
		]]>
	</select>
	
	
	<insert id="insert" parameterType="productVO">
	<![CDATA[
	insert into product(title,ctgid,like,views,datepost,content,image,userid,stateid,reason,dislikes)
	values(#{title},#{ctgid},#{like},#{views},#{datepost},#{content},#{image},#{userid},#{stateid},#{reason},#{dislikes})
	]]>
	</insert>
	<update id="update" parameterType="productVO">
	<![CDATA[
		update product set
			title=#{title},
			ctgid=#{ctgid},
			like=#{like},
			views=#{views},
			datepost=#{datepost},
			content=#{content},
			image=#{image},
			userid=#{userid},
			stateid=#{stateid},
			reason=#{reason},
			dislikes=#{dislikes},
		where proid = #{proid}
	]]>
	</update>
	<delete id="delete" parameterType="int">
	<![CDATA[
		detele from product 
		where proid = #{proid}
	]]>
	</delete>
	
</mapper>